main {
    display: flex;
    background-color: "fff";
    padding: 50px 50px;
    flex-direction: column;
}

main > h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 0px;
}

main > form > input {
    margin-top: 20px;
}

main > form > textarea {
    margin-top: 20px;
}

main > form > select {
    margin-top: 20px;
}

main > p {
    line-height: 1.5em;
}

#Title2 {
    border-top: 1px solid #000;
    margin-top: 50px;
}

